@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

$font-stack: 'Nunito', sans-serif

body
    font: 100% $font-stack
    margin: 0
    padding: 0

h1
    text-align: center

main
    width: 40%
    margin: 0 auto