@import 'base'

$border-radius: 5px
    
textarea,
button
    font: 100% $font-stack

form
    display: flex
    flex-direction: column
    margin: 0 auto
    gap: 20px 0

button
    width: max-content
    margin: 0 auto
    background-color: black
    color: white
    padding: 10px 20px
    border: none
    border-radius: $border-radius
    cursor: pointer
    outline: inherit
    font-weight: bold

textarea
    padding: 10px
    resize: vertical
    height: 20vh
    overflow-y: auto
    border: 1px solid black
    border-radius: $border-radius